<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}" class="mr-1" alt="Logo" style="height: 75px;">Connect'IN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" th:if="${session.user == null}">
                        <a class="nav-link" th:href="@{/signup}">Sign Up</a>
                    </li>
                    <li class="nav-item" th:if="${session.user == null}">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" th:if="${session.user != null}">
                        <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item" th:if="${session.user != null}">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
