<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <style>
        .custom-link {
            text-decoration: none;
            color: inherit;
        }

        .custom-link:hover {
            text-decoration: underline;
            text-decoration-color: #ca30ff;
        }

        .custom-link.selected {
            color: #ca30ff;
            text-decoration: #ca30ff;
        }
    </style>
</head>
<body>
<header th:insert="~{common/navbar :: navbar}"></header>
<p id="userName" th:text="${session.user.getId()}" style="display: none"></p>

<div class="container text-center mt-4">
    <h1 th:text="'Hello ' + ${user.getName()}"></h1>
</div>

<div class="container text-center mt-3 pb-2 border-bottom" id="linkContainer">
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="#" class="custom-link selected" id="myPostsLink">My Posts</a>
        </div>
        <div class="col-auto">
            <a href="#" class="custom-link" id="privacySettingsLink">Information & Privacy</a>
        </div>
        <div class="col-auto">
            <a href="#" class="custom-link" id="createPostLink">Create Post</a>
        </div>
    </div>
</div>

<div class="container mt-4" id="content">

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/webjars/bootstrap/4.6.2/js/bootstrap.min.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>